@import url("./assets/styles/theme.css");

@font-face {
  font-family: 'Montserrat';
  src: url('./assets/font/Montserrat-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./assets/font/Montserrat-Italic-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: italic;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family-base);
}

body {
  background: #fafafa !important;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./assets/font/Montserrat-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./assets/font/Montserrat-Italic-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: italic;
}

* {
  font-family: var(--font-family-base);
}

body {
  background: #fafafa !important;
}

.main-layout {
  margin-top: 65px;
}

.main-layout-admin {
  margin-top: 65px;
  margin-left: 70px;
  transition: .25s;
}

.main-layout-admin.openNav {
  margin-left: calc(15% + 10px);
  transition: .25s;
}

/* ================== container ================== */
.primary-container {
  padding: 0 !important;
  margin: 0 !important;
  width: 100% !important;
}

/* ================== custom input ================== */
.MuiInputLabel-root.Mui-focused {
  color: var(--primary-color) !important;
}

.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: var(--primary-color) !important;
}

.MuiInput-underline:after {
  border-bottom: 2px solid var(--primary-color) !important;
}

.primary-text__field input {
  font-size: var(--font-size-base) !important;
  padding: 12px !important; 
}

input::-ms-reveal, input::-ms-clear {
  display: none !important;
}

/* ================== custom select ================== */
.MuiSelect-select {
  height: 1.4375em !important;
  line-height: 1.4375em !important;
  padding: 12px !important;
}

.MuiMenu-paper {
  padding: 8px;
}

.MuiMenu-list {
  padding: 0 !important;
}

.select-primary__label {
  top: -4px !important;
}

.select-primary__label.MuiInputLabel-shrink {
  transform: translate(14px, -4px) scale(0.75);
}

.primary-text__field .MuiSelect-select {
  padding: 12px !important;
  font-size: var(--font-size-base) !important;
}

/* ================== datetime picker ==================*/
.MuiPickersSectionList-root  {
  padding: 12px 0 !important;
  font-size: var(--font-size-base) !important;
}

.primary-text__field .MuiPickersOutlinedInput-root.Mui-focused .MuiPickersOutlinedInput-notchedOutline {
  border-color: var(--primary-color) !important; 
}

.primary-text__field .MuiPickersOutlinedInput-root.Mui-focused .MuiPickersOutlinedInput-notchedOutline {
  outline: none !important;
}

.MuiPickersTextField-root:focus-visible .MuiPickersOutlinedInput-notchedOutline {
  border: 2px solid var(--primary-color) !important; 
}

/* ================== tab ================== */
.MuiTabs-indicator {
  background: var(--primary-color) !important;
}

/* ================== Title ================== */
.primary-title {
  text-align: center;   
  font-weight: var(--font-weight-bold) !important;
  font-size: var(--font-size-large) !important;
  color: var(--primary-color);
}

/* ================== Table ================== */
.primary-table-container {
  max-height: 90vh;
  overflow-y: scroll;
  scrollbar-width: none;
  background-color: transparent !important;
  border-radius: 4px !important;
  border: 1px solid var(--primary-color) !important;
  /* box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.18); */

}

.primary-table-container::-webkit-scrollbar {
  display: none; 
}

.primary-thead .MuiTableCell-head {
  background-color: var(--primary-color) !important;
  color: white !important; 
  border-right: 1px solid #fff;
  font-weight: bold;
}

.primary-thead .MuiTableCell-head:last-child {
  border-right: none;
}

.custom-border-tcell {
  border-right: 1px solid var(--primary-color);
  border-bottom: 1px solid var(--primary-color) !important;
}

.primary-trow:last-child .custom-border-tcell{
  border-bottom: none !important;
}

.primary-trow .custom-border-tcell:last-child {
  border-right: none !important;
}

.primary-tcell {
  padding: 8px !important;
}

/* ==================================== */
.primary-button {
  background-color: var(--primary-color) !important;
  padding: 0.6rem 0 !important;
  margin-top: 1rem !important;
  font-weight: var(--font-weight-bold) !important;
  font-size: var(--font-size-base) !important;
  border-radius: 5px !important;
  text-transform: none !important;
  color: white !important;
}

.primary-button:hover {
  background-color: var(--primary-color) !important;
}

.primary-text__field__title {
  font-size: var(--font-size-title) !important;
}

.primary-edit-btn {
  color: var(--primary-color) !important;
}

.primary-delete-btn {
  color: var(--delete-color) !important;
}

/* ================== tool tip ================== */
.primary-tooltip .MuiTooltip-tooltip {
  background-color: #fff !important;
  color: #000 !important; 
  border-radius: var(--border-radius-base);
  padding: 8px; 
  box-shadow: var(--box-shadow-base);
}

/* ================== dialog ==================*/
.primary-dialog-title {
  padding: 16px !important;
  text-align: center;
  font-weight: var(--font-weight-bold) !important;
}

.primary-dialog-content {
  padding: 0 16px 16px 16px !important;
}

.primary-dialog-actions {
  padding: 0 16px 8px 16px !important;
}

.primary-dialog-input {
  margin-bottom: 25px !important; 
}

/* ================== autocomplete ==================*/
.primary-autocomplete .MuiAutocomplete-inputRoot {
  padding: 0 !important;
}

/* ================== display status ==================*/
.status-badge {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 88px;
  padding: 4px 10px;
  border-radius: 4px;
  font-weight: 600;
  font-size: 12px;
  text-transform: capitalize;
  border: 1px solid transparent;
}

.status-active {
  color: var(--active-color);
  background-color: var(--active-bg-color);
  border-color: var(--active-boder-color);
}

.status-inactive {
  color: var(--inactive-color);
  background-color: var(--inactive-bg-color);
  border-color: var(--inactive-boder-color);
}

.status-unknown {
  color: var(--unknown-color);
  background-color: var(--unknown-bg-color);
  border-color: var(--unknown-boder-color);
}