:root {
  --primary-color: #334371;
  --secondary-color: #f3961a;
  --delete-color: #8b0000;
  --font-size-title: 24px;
  --font-size-large: 20px;
  --font-size-medium: 16px;
  --font-size-base: 14px;
  --font-weight-bold: 700;
  --font-family-base: 'Montserrat', sans-serif;
}